<div>
    {{#if hasImage}}
        <img src="{{image}}" />
    <br />
    {{/if}}
    <label>Title:</label>
    <h1>{{title}}</h1>
    <label>Description:</label>
    <p>{{description}}</p>
    <label>Price:</label>
    <h4>{{price}}</h4>
    <label>Publisher:</label>
    <div>{{publisher}}</div>
    <label>Date:</label>
    <div>{{datePublished}}</div>
</div>